/*.navbar-brand{
  padding: 8px 0;
  margin: 0px;
  vertical-align: middle;
}*/

.navbar-brand > img {
    display: inline-block;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 100;
}

.navbar.navbar-fixed-top{
    max-width: 100%;
}

.open > .dropdown-menu {
    margin-top: 5px !important;
}

.user-avatar p{
    font-weight: bold;
    padding-top: 1em;
    text-align: center;
}

.panel{
    border: none;
}

.panel ul{
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.panel ul > li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.clearfix{
    clear:both;
}

.form-group{
    margin: 10px 0;
}

section *{
    z-index: auto;
}


input.datetimepicker{
    display: inline;
    width: 190px;
    margin-left: 50px;
}

select#service-type{
    display: inline;
    width: 300px;
    margin-left: 53px;
}

.service-booked{
    margin-top: 10px;
    max-width: 100%;
    text-align: center;
}

#my-bookings-table > thead > tr > th{
    text-align: center;
}

body > section, footer > .container {
    padding-top: 80px;
    padding-bottom: 80px;
}

/*form styles*/
#formbox{
    height: 50em;
}

#msform {
	margin: 50px auto;
	text-align: center;
}

@media (max-width: 768px) {

    #msform > div.heading{
        width: 100%;
        font-size: smaller;
    }

    .heading > h1{
        font-size: 3em;
    }
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 20px;

	box-sizing: border-box;
	width: 80%;
	margin: 0 5%;

    position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
    padding-left: 0;
    margin-left: 0;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #bdc3c7;
	text-transform: uppercase;
	font-size: 12px;
    font-weight: bold;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: #bdc3c7;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 95%;
	height: 2px;
	background: #bdc3c7;
	position: absolute;
	left: -45%;
	top: 9px;
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

.btn-success {
    color: #fff;
    background-color: #2ecc71;
}

.btn-danger {
    color: #fff;
    background-color: #e74c3c;
}

.send-otp-btn{
    cursor: pointer;
}

#otpModal{
    margin-top: 200px;
}
